/* Global Styles */
:root {
    --primary-color: #283c63;
    --dark-color: #141414;
    --light-color: #f4f4f4;
    --background-color: #454545;
    --white-color: #fff;
}

/* Resetting margin & padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Set default styling */
body {
    font-family: 'Inter', sans-serif;
    background: var(--background-color);
    color: white;
    padding-bottom: 2.5rem;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white-color);
}

a {
    color: var(--white-color);
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}


#formlogo {
    max-width: 15rem;
    display: block;
    margin: auto;

}

.master-content {
    display: flex;
    max-height: auto;
    float: left;
}


.textcontent {
    max-width: 66%;
    padding: 2rem;
    background-color: #333333;
    border-radius: 5px;
    display: inline-block;
    margin-right: 2%;

}

.textcontent h4 {
    color: white;
}

.textcontent p {
    color: white;
    font-size: 18px;
}

.comment {
    max-width: 66%;
    margin-top: 2%;
    padding: 0 2rem;
}

.mediacontent {
    display: flex;
    padding: 0 2rem;
    display: inline-block;
    width: 66%;
}

.fileshowcase {
    width: 75vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #555555;
    padding: 2%;
    margin-top: -20px;
    height: auto;
}

.comments {
    max-width: 66%;
    padding: 1.3rem;
    background-color: #333333;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
}

.comments .btn {
    padding: 4px;
}

.commentuser {
    color: white;
}

.comment-text {
    color: white;
    font-size: 21px;
}

.commentsection {
    padding: 0 2rem;
}

.comment .btn {
    margin-bottom: 5px;
}

.videoplayer {
    max-width: 100%;
}

.sidebar {
    height: fit-content;
    width: 20vw;
    background-color: #333333;
    border-radius: 5px;
    display: inline-block;
    padding: 1.5rem;
}

.sidebar p {
    font-size: 1.3rem;
    color: white;
    display: block;
}

.btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
}

.navbar {
    background-color: #212529;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 20px;

}

#navbarlogo {
    margin-left: 4vw;
}

#navbarbuttons {
    margin-right: 40px;
}

.btn:hover {
    opacity: .8;
}

.btn-rounded {
    border-radius: 5px;
}

.btn-xl {
    text-transform: uppercase;
    font-size: 2rem;
    padding: 1.5rem 2rem;
}

.container {
    max-width: 70%;
    margin: auto;
    padding: 0 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    max-width: 80vw;
    margin: auto;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}

nav ul li:last-child {
    padding-right: 0;
}

nav img {
    height: 90px;
}

/* Showcase Styling */
.showcase {
    width: 100%;
    height: 93vh;
    background: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
    z-index: 1;
}

.showcase-top {
    position: relative;
    height: 90px;
    z-index: 2;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-top a {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-content {
    position: relative;
    z-index: 2;
    width: 65%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;
}

.showcase-content h1 {
    font-weight: 800;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    border: 1px solid #ced4da;
    color: #212529;
    background-color: #fff;
    line-height: 1.5;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: .25rem;
}

.inputform {
    background-color: rgb(25, 25, 25);
    max-width: 30vw;
    padding: 2rem;
    margin: auto;

}

/* Alert section */
.alert {
    color: white;
    width: 100%;
    margin-bottom: 1rem;
    padding: 20px;
}


.success {
    background-color: #04AA6D;
}

.error {
    background-color: maroon;
}

.closebtn {
    float: right;
    color: white;
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
    transition: .3s
}

.closebtn:hover {
    color: black;
}

.card-grid {
    grid-gap: 2rem;
}

.card img {
    height: 4vw;
    width: 4vw;

}

.card {
    display: grid;
    width: 100%;
    grid-template-columns: 10rem auto auto 14rem;
    grid-template-areas:
        "icon name tags owner_edit";
    border: 1px solid black;
    background-color: #555555;
    margin-bottom: 10px;
}

.card a {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

.card:hover {
    opacity: 70%;
}

.add {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "file folder";

}

.add_file {
    height: 3vw;
    grid-area: file;
    border: 1px solid black;
    background-color: #555555;
    margin-bottom: 10px;
    text-align: center;
}

.add_file a {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

.add_file-grid {
    grid-gap: 2rem;
}

.add_file img {
    margin-top: 0.7rem;
    height: 2vw;
    width: 2vw;

}

.add_folder {
    height: 3vw;
    grid-area: folder;
    border: 1px solid black;
    background-color: #555555;
    margin-bottom: 10px;
    text-align: center;
}

.add_folder a {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

.add_folder-grid {
    grid-gap: 2rem;
}

.add_folder img {
    margin-top: 0.7rem;
    height: 2vw;
    width: 2vw;

}

.thumbnail {
    grid-area: icon;
    border-right: 1px dotted gray;
}

.text_container {
    grid-area: text;
}

.text_left {
    grid-area: name;
    padding-left: 1rem;
}

.tags {
    grid-area: tags;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
    grid-template-areas:
        "t1 t2 t3 t4 t5 t6 t7 t8 t9 10";
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 0.3rem;
}

.tag {
    margin-left: 1rem;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #666666;
    font-family: monospace
}

.text_right {
    grid-area: owner_edit;
}

/* The Modal (background) */
.groupcreation {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.groupviewer {
    margin: auto;
}

.itemshowcase {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.unresizable {
    resize: none;
}

/* Modal Content */
.groupcreation-content {
    background-color: #555555;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.center {
    text-align: center;
}

.centerelement {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.redbg {
    background-color: #c50000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    padding: 10px;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 960px) {
    .showcase {
        height: 70vh;
    }

    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }
}

@media (max-width: 600px) {
    .showcase-content h1 {
        font-size: 2.5rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1rem;
    }

    .btn-xl {
        font-size: 1rem;
        padding: 1.2rem 1.5rem;
    }

}

/* ADMIN PAGE STUFF */

.admintable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.admintable td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #000;
}

.admintable tr:nth-child(even) {
    background-color: #dddddd;
}

.listcontainer {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-right: 17vw;
    margin-left: 3vw;
}

.listcontainer h2 {
    color: black
}