<nav class="navbar">
    <a id="navbarlogo" href="/"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="MyFiles"></a>

    <ul id="navbarbuttons">
        <li>
        </li>
        {% if loginpage %}
        {% elif viewing %}
        <li><a class="btn" href="{{url_for('previous', path = current_folder.path)}}">Go back</a></li>
        <li><a class="btn" href="{{url_for('admingroupmanagement')}}">Manage Groups</a></li>
        {% if folder %}
        <li><a href="{{url_for('newfolder', path = current_folder.path, parent=current_folder.itemname)}}"
                class="btn">New Folder</a></li>
        {% endif %}
        <li><a href="{{url_for('logout')}}" class="btn">Logout</a></li>

        {% else %}
        <li><a href="{{url_for('logout')}}" class="btn">Logout</a></li>
        {% endif %}
        {% if admin %}
        <li><a href="{{url_for('admin')}}" class="btn redbg">Admin Page</a></li>
        {% endif %}
    </ul>
</nav>