{% extends 'layout.html' %}
{% block title %}new folder{% endblock %}

{% block body %}
<div class="container">
    <div class="inputform">
        <h1 class="mb-3">New File</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            <div class="mb-3">
                {{ form.name(class = "form-control") }}
            </div>
            <div class="mb-3">
                {{ form.file(class = "form-control") }}
            </div>
            <div class="mb-3">
                {% if form.file.errors %}
                <ul class="error">
                    {% for error in form.file.errors %}
                        <li>{{error}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.description(class = "form-control") }}
            </div>
            <div class="mb-3">
                {{ form.tags(class = "form-control") }}
            </div>
            <p>r_groups</p>
            <div class="mb-3">
                {{ form.r_groups(class = "form-control") }}
            </div>
            <p>rw_groups</p>
            <div class="mb-3">
                {{ form.rw_groups(class = "form-control") }}
            </div>
            <div class="mb-3">
                {{ form.private(class = "form-control") }}
            </div>
            <div class="mb-3">
                {{ form.submit(class = "btn") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}