Users
<ul>
    {% for user in users %}
        <li>id:{{user.id}} ||||| name:{{user.name}} ||||| email:{{user.email}} ||||| groups:{{user.groups}} ||||| passwordhash:{{user.password_hash}}</li>
    {% endfor %}    
</ul>

Groups
<ul>
    {% for group in groups %}
        <li>id:{{group.id}} ||||| group:{{group.group}} ||||| default_privs:{{group.default_privs}}</li>
    {% endfor %} 
</ul>

Items
<ul>
    {% for item in items %}
        <li>id:{{item.id}} ||||| itemname:{{item.itemname}} ||||| path:{{item.path}} ||||| ownerid:{{item.owner}} ||||| private:{{item.private}} ||||| group_privs:{{item.group_privs}} ||||| tags:{{item.tags}} ||||| postdate:{{item.post_date}} ||||| last_edited:{{item.edited_date}}</li>
    {% endfor %} 
</ul>

Comments
<ul>
    {% for comment in comments %}
        <li>id:{{comment.id}}|||||  item_id:{{comment.item_id}} ||||| user_id:{{comment.user_id}} |||||username:{{comment.username}} ||||| date:{{comment.date}} ||||| comment:{{comment.comment}}</li>
    {% endfor %} 
</ul>

Tags
<ul>
    {% for tag in tags %}
        <li>id:{{tag.id}} ||||| tag:{{tag.tag}}</li>
    {% endfor %} 
</ul>