{% extends 'layout.html' %}
{% block body %}
<div class="master-content">
    {% if item.filetype == 'text' %}
    <div class="textcontent">
        {% for line in item.content %}
        <p>{{line}}</p>

        {% endfor %}
    </div>
    {% elif item.filetype == 'picture' %}
    <div class="mediacontent">
        <img src="/static/content/{{item.itemname}}" alt="{{item.itemname}}">
    </div>
    {% elif item.filetype == 'video' %}
    <div class="mediacontent">
        <video class="videoplayer" controls>
            <source src="/static/content/{{item.itemname}}" type="video/{{item.itemname.split('~')[1].split('.')[-1]}}">
            Your browser does not support the video tag.
        </video>
    </div>
    {% endif %}
    <div class="sidebar">
        <p>Filename: {{item.path}}{{ item.itemname.split('~')[1] }} </p>
        <p>Uploaded by: {#item.ownername#}</a>
        <p>Created: {{item.post_date}}</p>
        <p>Updated:{{item.edited_date}}</p>
    </div>
</div>
<div class="comments">
    <h4>Comments</h4>
    <form method="POST">
        {{commentform.csrf_token}}
        {{commentform.comment}}
        {{commentform.submit(class = "btn")}}

</div>
</form>
{% for comment in comments %}
<div class="comment">
    <h5 class="commentuser">{{ comment.username }}</h5>
    <p class="comment-text">{{comment.comment}}</p>
    {{comment.date}}
    {% if current_user.id == comment.user_id %}<br>
    <a class="btn" href="{{url_for('delcomment', id=comment.id)}}">Delete</a>
    {% endif %}
</div>

{% endfor %}
{% endblock %}